.service-box-wrapper {
    display: flex;

    @include down(991){
        display: block;
    }
}
.service-box  {
    @include down(991){
        display: flex;
        justify-content: center;
    }

    @include down(850){
        padding: 15px 0;
    }
    @include down(580){
        flex-wrap: wrap;
    }
    
    &-item {
        height: 90px;
        width: 105px;
        background-color: #fbfbfb;
        border-radius: 2px;
        border: 1px solid  #e7e7e7;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        margin-bottom: 6px;

        @include down(991){
            margin-right: 25px;

            &:last-child {
                margin-right: 0;
            }
        }
        @include down(580){
            margin-right: 0;
            margin: 5px;
            width: 50%;
        }
        

        &:hover {
            border: none;
            background-color: #fff;
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,.2);
        }
    }
    &-contain {
        display: none;

        &.active {
            display: flex;
        }

        @include down(991){
            padding: 20px;
        }

        @include down(850){
            text-align: center;
                    
            &.active {
                display: block;
            }
        }
    }

    &-text {
        padding: 0 20px 30px 130px;

        @include down(991){
            padding: 20px;
        }

        h3 {
            font-size: 30px;
            color: #6e6e6e;
            font-weight: 400;
            margin: 0;
            padding-bottom: 18px;
            position: relative;
            margin-bottom: 18px;

            &:after {
                content: " ";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 3px;
                width: 57px;
                background-color: #ff5c36;

                @include down(850){
                    left: 50%;
                    transform: translate(-50%);
                }
            }
        }
        p {
            font-size: 16px;
            color: #737373;
            font-weight: 400;
            line-height: 1.8;
        }
    }
    &-button {
        padding-top: 30px;

        a {
            text-decoration: none;
        }

        img {
            margin-right: 15px;
        }
    }
    &-image {
        height: 360px;
        min-width: 300px;

        img {
            height: 100%;
        }
    }
}